// Navigation Variables
$content-width: 940px;
$breakpoint: 992px;
$nav-height: 80px;
$nav-background: rgba(0, 0, 0, 0.3);
$nav-background-fix: rgba(0, 0, 0, 0.6);
$nav-font-color: #ffffff;
$link-hover-color: #cf9737;
$color-gradient-default: top, #ffffff, #ffffff 45%, #000 70%, #000;
$color-gradient-hover: top, #cf9737, #cf9737 45%, #000 70%, #000;

// Outer navigation wrapper
.navigation {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: $nav-height;
  background: $nav-background;
  border-bottom: #4a4a4a solid 1px;
  margin-top: 48px;
  &.position-fix{
    position: fixed;
    animation: smoothScroll 1s forwards;
    margin-top: 0;
    background: $nav-background-fix;
  }
}

// Logo and branding
.brand {
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 35px;
  line-height: $nav-height;
  text-transform: uppercase;
  img{
    width: 110px;
    height: auto;
  }
}

// Container with no padding for navbar
.nav-container {
  // max-width: $content-width;
  // position: relative;
}

// Navigation 
nav {
  // float: right;
  text-align: center;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      position: relative;
      a,
      a:visited {
        display: block;
        padding: 0 20px;
        line-height: $nav-height;
        color: $nav-font-color;
        text-decoration: none;
        @include transition();
        &:hover {
          background-image: -webkit-linear-gradient($color-gradient-hover);
          background-image:    -moz-linear-gradient($color-gradient-hover);
          background-image:     -ms-linear-gradient($color-gradient-hover);
          background-image:      -o-linear-gradient($color-gradient-hover);
          background-image:         linear-gradient($color-gradient-hover);
        }
        &:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾';
        }
      } // Dropdown list
      &.current-menu-item{
        a{
          background-image: -webkit-linear-gradient($color-gradient-hover);
          background-image:    -moz-linear-gradient($color-gradient-hover);
          background-image:     -ms-linear-gradient($color-gradient-hover);
          background-image:      -o-linear-gradient($color-gradient-hover);
          background-image:         linear-gradient($color-gradient-hover);
        }
      }
      a{
        font-family: $font-mont-b;
        font-size: 12px;
        letter-spacing: 2px;
        background-image: -webkit-linear-gradient($color-gradient-default);
        background-image:    -moz-linear-gradient($color-gradient-default);
        background-image:     -ms-linear-gradient($color-gradient-default);
        background-image:      -o-linear-gradient($color-gradient-default);
        background-image:         linear-gradient($color-gradient-default);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      ul li {
        min-width: 190px;
        a {
          padding: 15px;
          line-height: 20px;
          background: $nav-background;
        }
      }
    }
  }
}

// Dropdown list binds to JS toggle event
.nav-dropdown{
  .sub-menu {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  }
}

/* Mobile navigation */

// Binds to JS Toggle
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background: $nav-background;
  height: $nav-height;
  width: $nav-height;
}
@media only screen and (max-width: 991px) {
  // Hamburger nav visible on mobile only
  .nav-mobile {
    display: block;
  }
  nav {
   width: 100%;
    padding: $nav-height 0 15px;
    ul {
      display: none;
      li {
        float: none;
        a {
          padding: 15px;
          line-height: 20px;
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }
  .nav-dropdown{
    .sub-menu{
      position: static;
    }
  }
}
@media screen and (min-width: $breakpoint) {
  .nav-list {
    display: inline-block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $nav-font-color;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

// Page content
article {
  max-width: $content-width;
  margin: 0 auto;
  padding: 10px;
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
