.page-testimonials{
  .testimonials-man-bg{
    margin-top: 20px;
    .testimonial-body{
      @include flexDisplay();
      .image-holder{
        @include flexWidth(45%);
        .image-item{
          height: 390px;
          @include backgroundDefault(contain, top, no-repeat);
        }
      }
      .content-holder{
        @include flexWidth(55%);
        height: inherit;
        .cm{
          width: 99.3%;
          .name{
            font-family: $font-mont-b;
            color: #cf9737;
            margin-bottom: 12px;
            h1{
              font-size: 3.5rem;
            }
          }
          .company{
            font-family: $font-mont-b;
            margin-bottom: 12px;
          }
          .description{
          }
          &.sh{
            width: .1%;
          }
        }
      }
    }
  }
  .testimonials-holder{
    background-color: #000;
    padding-top: 70px;
    padding-bottom: 70px;
    background-image: linear-gradient(141deg, #000000 0%, #000000 20%, #4A340F 80%, #543D13 125%);
    .testimonial-carousel{
      .slick-arrow{
        &::before{
          opacity: 0;
          visibility: hidden;
        }
        i{
          font-size: 30px;
          color: #fff;
          margin-top: -15px;
          @include transition();
        }
        &.slick-prev.slick-disabled, &.slick-next.slick-disabled{
          i{
            opacity: 0.25;
          }
        }
      }
      .content-holder{
        text-align: center;
        margin-bottom: 80px;
        .title-holder{
          font-family: $font-mont-b;
          color: #D59638;
          margin-bottom: 20px;
        }
        .star-holder{
          color: #FDFDFD;
        }
      }
      .box-holder{
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        margin: 40px 10px;
        .box-item{
          position: relative;
          .image-holder{
            position: absolute;
            top: -55px;
            left: 0px;
            .image-item{
              height: 90px;
              width: 90px;
              @include backgroundDefault(contain);
            }
          }
          .content-title-holder{
            margin-left: 105px;
            margin-bottom: 15px;
            h5{
              font-family: $font-mont-b;
              color: #CF9737;
            }
            h6{
              margin-top: 5px;
              font-family: $font-mont-b;
            }
          }
        }
      }
    }
  }
}
